body {
	background-image:url("/images/space.jpg");
	font-family: impact;
}

.jumbotron {
	background-color: transparent;
	color: blue;
	text-align:center;
}

.panel-body {
	background-color:black;
	color:lightblue;
	font-family: arial;
	text-align:center;
}

.form-control {
	width:40px;
	display:inline;
}

#profileName {
	font-size: 24pt;
	color: lightblue;
	text-align: center;
	margin-bottom: 20px;
}

#profileCopy {
	font-size: 10pt;
	color: lightblue;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 40px;
}

img {
	display: block;
	margin: auto;
}